body{
min-width: 100vh;
margin: 0;
padding: 0;

}

.custom-toast {
  background-color: #004B91 !important; /* Bleu */
  color: white !important;
  border-left: 8px solid #FFD700 !important; /* Jaune */
  font-weight: 500;
  border-radius: 0.75rem;
  padding: 1rem;
}

html {
  scroll-behavior: smooth;
}